#spu-13565 {
  background-color: #eeeeee;
  color: #333;
  border: 8px solid #555;
  width: 600px;
}

#spu-bg-13565 {
  opacity: 0.5;
}

/*
* Add custom CSS for this popup
* Be sure to start your rules with #spu-13565 { } and use !important when needed to override plugin rules
*/
