@import 'style-totem';
@import 'style';
@import 'colorbox';
@import 'inline_0';
@import 'inline_1';
@import 'jquery-ui';
@import 'dashicons.min';
@import 'styles';
@import 'client';
@import 'reveal';
@import 'jquery.m.flip';
@import 'screen.min';
@import 'screen';
@import 'frontend-forms';
@import 'jquery-ui-1.9.1.custom';
@import 'public';
@import 'jquery.fancybox';
@import 'flexmenu';
@import 'widgets.min';
@import 'default.min';
@import 'styles';
@import 'inline_2';
@import 'inline_3';
@import 'inline_4';

.header .single-menu .menu {
  height: 50px;
}
.content {
  padding-top: 20px;
}
.breadcrumbs {
  margin: 0 0 20px;
  padding: 0;

  list-style: none;
  li {
    display: inline-block;

    margin-right: 6px;
  }
}
.single-title .post-category a {
  padding: 1px 15px;
}
#reply-title {
  display: none;
}
.footernav {
  margin: 0 0 20px;
  padding: 0;

  list-style: none;
}
.homepage .the-best .rest a {
  width: 295px;
  height: 192px;
  overflow: hidden;
}
