@import 'style-totem';
@import 'style';
@import 'colorbox';
@import 'inline_0';
@import 'inline_1';
@import 'jquery-ui';
@import 'dashicons.min';
@import 'styles';
@import 'client';
@import 'reveal';
@import 'jquery.m.flip';
@import 'screen.min';
@import 'screen';
@import 'frontend-forms';
@import 'jquery-ui-1.9.1.custom';
@import 'public';
@import 'jquery.fancybox';
@import 'flexmenu';
@import 'widgets.min';
@import 'default.min';
@import 'styles';
@import 'inline_2';
@import 'inline_3';
@import 'inline_4';

.header .single-menu .menu {
  height: 50px;
}
.content {
  padding-top: 20px;
}
.breadcrumbs {
  margin: 0 0 20px;
  padding: 0;

  list-style: none;
  li {
    display: inline-block;

    margin-right: 6px;
  }
}
.single-title .post-category a {
  padding: 1px 15px;
}
#reply-title {
  display: none;
}
.footernav {
  margin: 0 0 20px;
  padding: 0;

  list-style: none;
}
.homepage .the-best .rest a {
  overflow: hidden;

  width: 295px;
  height: 192px;
}
.homepage .category .rest a {
  overflow: hidden;

  width: 295px;
  height: 192px;
}
.homepage-tow {
  .step-title {
    margin-top: 0 !important;
  }
}
.pagination {
  text-align: center;
  span,
  a {
    display: inline-block;

    padding: 4px 5px;
  }
}
.category .homepage-content .cat-img {
  overflow: hidden;
  img {
    width: 100%;
    min-height: 100%;
  }
}
.widget {
  &.popular {
    ul {
      padding: 0;
    }
  }
}

.article-homer {
  .home-article-img-span {
    display: inline-block;
    float: left;

    width: 93px;
    height: 93px;
    margin-right: 2%;
    margin-bottom: 10px;

    vertical-align: top;

    border-radius: 4px;
    img {
      width: 100%;
      max-width: 100% !important;
      height: 100%;
      margin: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  p,
  .h2 {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
}
.homepage {
  .video {
    .item {
      img {
        width: 220px;
        height: 255px;
      }
    }
  }
}
.homepage .the-best .item {
  overflow: hidden;

  height: 295px !important;
  a {
    width: 95%;
  }
  img {
    width: 180px;
    height: 180px;
  }
}

.aside .section .calc-list {
  margin: 0;
  padding: 0;

  list-style: none;
}


.post table input[type='button'] {
  font-size: 16px;
  font-weight: 700;

  margin: 20px auto;
  padding: 12px 25px;

  cursor: pointer;

  color: #fff;
  border: 0 none;
  border-radius: 7px;
  background-color: #5f454f;
}
